/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Document   : styless2
    Author     : JavierOrdonezMartín
*/

#container {
  max-width: 100%;
  margin: 0 auto;
}

#container-login{
  width: 50%;
  position: absolute;
  top: 15%;
  left: 50%;
}
h1{
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}