

#content-panel {
    max-width:100%;
    max-height:100%;
    min-height:500px;    
}

.piece-1{
    background: #E1F5A9;
}

.piece-2{
    background: #F0F8FF;
}

.piece{
    //float: left;
    cursor:default;
    padding: 0.8em 0 0 0.8em;
    border-radius: 10px;
    border:1px solid #ddd;
    width: 230px;
    height: auto;
}

#bin-image{
    border: none;
}

#sortable{
    margin: 0px;
    padding: 0px;
}