/**
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 *
 * Author     : Edgar Pérez Ferrando
 */

#content-panel {
    max-width:100%;
    max-height:100%;
    min-height:500px;
}

.piece{
    cursor:default;
    border-radius: 10px;
    border:1px solid #ddd;
    margin: 0;
    padding: 0.8em;
}

.dragIn{
    margin-bottom: 0.8em;
}

#bin-image{
    border: none;
}

#sortable{
    margin: 0px;
    padding: 0px;
}

#enunciado{
    width: 100%;
}

.upload {
    width: 100%;
    margin: 0;
    padding: 0;
}

#input-file{
    margin-bottom: 0.8em;
}

.button-send, btn-success, cambiar-calificacion{
    margin-bottom: 1em;
    width: 100%;
}

.button-submit, btn-success, cambiar-calificacion{
    margin: 0;
    text-align: center;
}

#titulo-input, #select-asignatura, #input-asignatura{
    width: 100%;
}

#enunciado-div{
    margin-top: 0.8em;
}

#contextMenu {
  position: absolute;
  display:none;
}

.botonera{
    width: auto;
}

#nota-input{
    text-align: right;
    font-weight: bold;
}

#nombreAlumno{
    text-align: center;
    padding-bottom: 0.8em;
    font-weight: bold;
}

#cambiar-calificacion{
    margin-top: 0.8em;
}