/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-ago-2015, 18:40:13
    Author     : Sobremesa
*/

#content-panel {
    max-width:100%;
    max-height:100%;
    min-height:500px;
}

.piece{
    cursor:default;
    border-radius: 10px;
    border:1px solid #ddd;
    margin: 0;
    padding: 0.8em;
}

.dragIn{
    margin-bottom: 0.8em;
}

#bin-image{
    border: none;
}

#sortable{
    margin: 0px;
    padding: 0px;
}

#enunciado{
    width: 100%;
}

.upload {
    width: 100%;
    margin: 0;
    padding: 0;
}

#input-file{
    margin-bottom: 0.8em;
}

.button-send{
    margin-bottom: 1em;
}

.button-submit{
    margin: 0;
    text-align: center;
}
